node_modules
.DS_Store
dist
*.local
.vite-inspect
.remote-assets
components.d.ts

# Ignore specific PPT files --- IGNORE ---
slides/*.md
!slides/demo.md

# markdown files to be converted to slides --- INCLUDE ---
docs/